<section id="footer" class="block block-footer-2">
  <div class="container">
    <div class="columns footer-images dark-grey">
      <div class="column">
        <a href="{{ section.image_link" }}">
          <img src="{{ section.image | relative_url  }}" height="auto" alt="Logo">
        </a>
      </div>
      <div class="column">
        {{ section.col_2 }}
      </div>
      <div class="column">
        <a href="{{ section.column_3_image_link" }}">
          <img src="{{ section.column_3_image | relative_url  }}" height="auto" alt="buy me a coffee">
        </a>
      </div>
      <div class="column">
        <a href="{{ section.column_4_image_link" }}">
          <img src="{{ section.column_4_image | relative_url  }}" height="auto" alt="bitcoin qr code">
        </a>
      </div>
    </div>
  </div>
</section>