<header class="block block-header-2">

  <div class="block-header-2--logo">
    <a href="{{ "/" | relative_url }}">
      <img src="{{ section.logo | relative_url }}" alt="{{ site.title }}">
    </a>
  </div>

  <nav class="block-header-2--nav">
    <ul>
        {% for nav_item in section.navigation %}
        <li class="nav-item {% if page.url == nav_item.link %}active{% endif %} button blue-background off-white small block-header-2--cta" href="{{ nav_item.link | relative_url }}">{{ nav_item.link_text }}</li>
        {% endfor %}
        <li class="nav-item button off-white orange-background small block-header-2--cta" href="{{ section.cta.url }}">{{ section.cta.button_text }}>
        </li>
    </ul>
  </nav>

</header>
