<section class="block block-two-column-1 blue-background">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3>{{ section.col_1.headline }}</h3>
        <p class="dark-grey">{{ section.col_1.content }}</p>
      </div>
      <div class="column">
        <h3>{{ section.col_2.headline }}</h3>
        <ul>
          {% for image in section.gallery %}
            <li><img src="{{ image | relative_url }}"></li>
          {% endfor %}
        </ul>
        <!-- <p class="dark-grey">{{ section.col_2.content }}</p> -->
      </div>           
    </div>
  </div>
</section>