.off-white {
  color: #F5FFEB !important;
}

.dark-grey {
  color: #423E3B !important;
}

.align-center {
  text-align: center;
}

.orange-background {
  background-color: #FFB15B;
}

.purple-background {
  background-color: #A799B7;
}

.blue-background {
  background-color: #74BED3;
}

.block-header-2 {
  justify-content: space-around;
  flex-wrap: wrap;
}

.block-header-2--logo {
  padding: 2rem 0;
}

.block-header-2--nav {
  justify-content: space-around;
}

@media screen and (min-width: 900px) {
  .block-header-2--nav {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 612px) {
  .block-header-2--nav {
    text-align: center;
  }
}

// This needs media queries
.block-header-2--nav ul {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  display: -ms-flexbox;
  -ms-flex-align: inherit;
  flex-wrap: wrap;
}

.block-header-2 .nav-item {
  padding: .4rem;
  margin-bottom: .8rem;
  margin-right: 0;
}

.block-header-2 .nav-item:last-of-type {
  margin: 0;
}

.block-header-2--cta {
  margin-left: inherit;
}

.adjust-block-hero {
  min-height: 100%;
  background-position-x: center;
}

@media screen and (min-width: 800px) {
  .flex-large {
    flex-basis: 55% !important;
  }
}

@media screen and (min-width: 800px) {
  .flex-small {
    flex-basis: 35% !important;
  }
}

.block-three-column-1:nth-of-type(7) {
  padding-bottom: 7rem;
  padding-top: 4rem;
}

@media screen and (min-width: 700px) {
  .block-footer-2 .column {
    text-align: center;
    flex-basis: 30%
  }
}

@media screen and (min-width: 910px) {
  .block-footer-2 .column {
    flex-basis: inherit;
  }
}

.block-footer-2 {
  padding: 6rem 4rem 0rem;
}

.block-footer-2 .column {
  text-align: center;
}

.block-footer-2 .columns {
  justify-content: space-evenly;
}

.cta-position {
  top: 1rem;
}

.footer-images img{
  max-width: 60%;
  min-width: 120px;
  margin-top: -2rem;
}