.off-white {
  color: #F5FFEB !important;
}

.dark-grey {
  color: #423E3B !important;
}

.orange-background {
  background-color: #FFB15B;
}

.purple-background {
  background-color: #A799B7;
}

.blue-background {
  background-color: #74BED3;
}

.align-center {
  text-align: center;
}

.block-header-2 {
  justify-content: space-around;
  flex-wrap: wrap;
}

.block-header-2--logo {
  padding: 1rem 0;
}

.block-header-2--logo img {
  max-height: 2rem;
  }

@media screen and (min-width: 700px) {
  .block-header-2--logo img {
    max-height: 2.5rem;
  }
}

.block-header-2--nav {
  justify-content: space-around;
  margin-top: .5rem;
}

@media screen and (min-width: 900px) {
  .block-header-2--nav {
    padding-left: 1rem;
  }
}

.block-header-2--nav ul {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  display: -ms-flexbox;
  -ms-flex-align: inherit;
  flex-wrap: wrap;
}

.block-header-2 .nav-item {
  padding: .4rem;
  margin-bottom: .8rem;
  margin-right: 0;
}

.block-header-2 .nav-item:last-of-type {
  margin: 0px 0px 0px .4rem;
}

.block-header-2--cta {
  margin-left: inherit;
}

.adjust-block-hero {
  min-height: 100%;
}

@media screen and (min-width: 700px) {
  .adjust-block-hero {
  background-position-x: center;
  }
}

@media screen and (min-width: 800px) {
  .flex-large {
    flex-basis: 55% !important;
  }
}

@media screen and (min-width: 800px) {
  .flex-small {
    flex-basis: 35% !important;
  }
}

.block-three-column-1:nth-of-type(7) {
  padding-bottom: 7rem;
  padding-top: 4rem;
}

.block-my-three-column-1 h2 {
  text-align: center;
  padding-bottom: 1rem;
}

@media screen and (min-width: 700px) {
  .block-footer-2 .column {
    text-align: center;
    flex-basis: inherit;
  }
}

@media screen and (min-width: 910px) {
  .block-footer-2 .column {
    flex-basis: inherit;
  }
}

.block-footer-2 {
  padding: 6rem 4rem 0rem;
}

.block-footer-2 .column {
  text-align: center;
}

.block-footer-2 .columns {
  justify-content: space-evenly;
}

.cta-position {
  top: 1rem;
}

.footer-images img{
  max-width: 60%;
  min-width: 120px;
  margin-top: -2rem;
}

.block-hero-2:nth-of-type(6){
  max-height: 18rem;
  padding-top: 11rem;
}
@media screen and (min-width:700px) {
  .block-hero-2:nth-of-type(6){
    padding-top: 6rem;
  }
}

@media screen and (min-width:700px) {
 .block-hero-2 {
  min-height:600px;
 }
}  

@media screen and (min-width: 1000px) {
  .button.small {
    font-size: 1rem
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .button.small {
    font-size: .75rem
  }
}

@media screen and (min-width: 700px) and (max-width: 773px) {
  .block-hero-2, .block-hero-2 .columns {
    flex-direction: column;
  }
  .block-hero-2 .column.text {
    padding-bottom: 50px;
  }
  .block-hero-2 .column.media img {
    width: 70vw;
  }
}