.off-white {
  color: #F5FFEB !important;
}

.dark-grey {
  color: #423E3B !important;
}

.align-center {
  text-align: center;
}

.orange-background {
  background-color: #FFB15B;
}

.purple-background {
  background-color: #A799B7;
}

.blue-background {
  background-color: #74BED3;
}

.adjust-block-hero {
  min-height: 100%;
  background-position-x: center;
}

@media screen and (min-width: 800px) {
  .flex-large {
    flex-basis: 55% !important;
  }
}

@media screen and (min-width: 800px) {
  .flex-small {
    flex-basis: 35% !important;
  }
}

.block-three-column-1:nth-of-type(2) {
  padding-bottom: 7rem;
  padding-top: 4rem;
}

@media screen and (min-width: 700px) {
  .block-footer-2 .column {
    text-align: center;
    flex-basis: 30%
  }
}

@media screen and (min-width: 910px) {
  .block-footer-2 .column {
    flex-basis: inherit;
  }
}

.block-footer-2 {
  padding: 6rem 4rem 0rem;
}

.block-footer-2 .column {
  text-align: center;
}

.block-footer-2 .columns {
  justify-content: space-evenly;
}

.cta-position {
  top: 1rem;
}

.footer-images img{
  max-width: 60%;
  min-width: 120px;
  margin-top: -2rem;
}